RewriteEngine On

RewriteRule ^home$ index.php
RewriteRule ^contact$ contact.php

  # Controller 
RewriteRule ^contacteController$ controller/contacteController.php



# Model 
RewriteRule ^contactDB$ model/contact_db.php