@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
.dlab-page-text p, .blog-post.blog-single .dlab-post-text p {
    margin-bottom: 1.65em;
    text-align: justify;
    font-size: 17px;
    font-family: arial;
}
.page-content.bg-white {
    padding-bottom: 80px;
}
a.sc-7dvmpp-1.dfBDQI {
		 display: none !important;
		}
		button.scroltop.style1.radius {
		    background-color: #004D74;
		    position:fixed;
		    top:605px !important;
		    right:24px;
		}
		button.scroltop.fa.fa-chevron-up {
		    background-color: #004D74;
		    position: fixed;
		    top: 605px !important;
		    right: 24px;
		    border-radius: 100%;
		}

         li.post-date.ss {
            color: #000;
            line-height: 16px;
        }

        .blog-single.blog-post.sidebar {
    width: 100%;
    max-width: 100%;
    padding-left: 0;
    padding-right: 0;
}
post.blog-single {
    max-width: 720px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.blog-post {
    position: relative;
    margin-bottom: 30px;
}
.blog-post {
    position: relative;
    margin-bottom: 30px;
}
strong {
    font-weight: bold;
    color: #0609b9;
}
strong {
    font-weight: 400;
}

.dlab-page-text p, .blog-post.blog-single .dlab-post-text p {
    margin-bottom: 1.65em;
    text-align: justify;
    font-size: 17px;
    font-family: arial;
}
.dlab-media img, .dlab-post-media img {
    width: 100%;
    height: auto;
}
img {
    border-style: none;
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}
img {
    vertical-align: middle;
    border-style: none;
}

.blog-post.blog-single .dlab-post-text blockquote p, blockquote p {
    font-size: 18px;
}
.blog-post.blog-single .dlab-post-text blockquote p, .dlab-page-text blockquote p, blockquote p {
    font-size: 16px;
    line-height: 2;
    color: #fff;
    margin-bottom: 0px;
    font-weight: 500;
    font-style: italic;
}
.wp-block-quote.is-large, .wp-block-quote.is-style-large, blockquote.wp-block-quote, blockquote.wp-block-pullquote, blockquote.wp-block-pullquote.alignright, blockquote.wp-block-pullquote.alignleft, blockquote {
    padding: 30px 30px 25px 30px;
    font-size: 15px;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    line-height: 30px;
    position: relative;
    clear: both;
    background-color: #0609b9;
    font-weight: 700;
    overflow: hidden;
    z-index: 1;
    border: 0;
}
.widget-title.style-1 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.15);
    margin-bottom: 05px;
    padding-bottom: 15px;
    font-weight: 600;
    line-height: 12px;
    position: relative;
}
.h4, .h5, .h6, h4, h5, h6 {
    font-weight: 600;
}
h5 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6 {
    color: #000000;
    font-family: 'Roboto', serif;
}
.h5, h5 {
    font-size: 1.25rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h5{
  margin-top: 0;
  margin-bottom: 0.5rem;
}
h5 {
    display: block;
    
    margin-block-start: 1.67em;
    margin-block-end: 1.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
  
}

*, ::after, ::before {
    box-sizing: border-box;
}
.widget-title.style-1:after {
    border-radius: 0;
    bottom: -2px;
    content: "";
    display: inline-block;
    height: 3px;
    left: 0;
    margin: 0;
    position: absolute;
    vertical-align: bottom;
    width: 50px;
}
.widget-title:after,{
  background-color: #004d75;
}

:root {
    --color-primary: #004d75;
    --color-secondry: #ffde17;
    --color-hover: #ffde17;
}
.search-bx.style-1 .input-group-btn button {
    height: 50px;
    width: 50px;
}
.site-button.sharp {
  width: 40px;
    height: 40px;
    padding: 0;
    line-height: 39px;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
    background-color:#0609b9
}
.radius-no {
  border-radius: 0;
  -webkit-border-radius: 0;
}

.site-button {
    background-color: #ffde17;
}


.site-button, .site-button-secondry {
  color: #fff;
    padding: 12px 30px;
    display: inline-block;
    font-size: 13px;
    outline: none;
    cursor: pointer;
    outline: none;
    border-width: 0;
    border-style: solid;
    border-color: transparent;
    line-height: 1.42857;
    border-radius: 3px;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}
.fa {

    font: normal normal normal 14px/1 FontAwesome;
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
  
}
[type=button], [type=reset], [type=submit], button {
    -webkit-appearance: button;
}
button, select {
    outline: none;
}
button, select {
    text-transform: none;
}
button, input {
    overflow: visible;
}
button, input, optgroup, select, textarea {
  margin: 0;
  font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button {
    border-radius: 0;
}
*, ::after, ::before {
    box-sizing: border-box;
}
button {
 
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-style: ;
    font-variant-ligatures: ;
    font-variant-caps: ;
    font-variant-numeric: ;
    font-variant-east-asian: ;
    font-variant-alternates: ;
    font-weight: ;
    font-stretch: ;
    font-size: ;
    font-family: ;
    font-optical-sizing: ;
    font-kerning: ;
    font-feature-settings: ;
    font-variation-settings: ;
    text-rendering: auto;
    
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
    align-items: flex-start;
    cursor: default;
    box-sizing: border-box;
    margin: 0em;
    padding: 1px 6px;
    border-width: 2px;
    border-style: outset;
    border-image: initial;
}

body {
     background-color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #000;
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
   
}
:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
}
html {
    font-family: sans-serif;
    line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: transparent;
}
.fa-search:before {
    content: "\f002";
}
*, ::after, ::before {
    box-sizing: border-box;
}

::selection {
    background: #0609b9;
}
::selection {
    color: #fff;
}
div {
    display: block;
}
form {
    display: block;
    margin-top: 0em;
}
@media only screen and (max-width: 991px)
.sticky-top {
    position: unset;
}

@media only screen and (max-width: 991px)
.side-bar {
    margin-bottom: 40px;
}
@supports ((position:-webkit-sticky) or (position:sticky))
.sticky-top {
  
    z-index: 1020;
}
.recent-posts-entry .widget-post-bx:last-child {
    padding-top: 20px;
    border-bottom: none;
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
    display: block;
}
.recent-posts-entry .dlab-post-info, .recent-posts-entry .dlab-post-media {
    display: table-cell;
    vertical-align: middle;
    width: 130px;
    height: 127px;
}
.recent-posts-entry .dlab-post-media {
    width: 150px;
    height: 127px;
    margin: 0;
    border-radius: unset;
    overflow: hidden;
    min-width: 90px;
}
.courses-media, .dlab-post-media {
    overflow: hidden;
}
img {
    vertical-align: middle;
    border-style: none;
}
*, ::after, ::before {
    box-sizing: border-box;
}
img[Attributes Style] {
 
    aspect-ratio: auto 200 / 143;
  
}
img {
    overflow-clip-margin: content-box;
    overflow: clip;
}
.recent-posts-entry .dlab-post-meta {
    margin-bottom: 10px;
}
.recent-posts-entry ul, .category-entry ul {
    margin: 0;
    list-style: none;
    padding: 0;
    line-height: 1;
}
.dlab-post-meta ul {
    margin: 0;
    list-style: none;
    text-transform: none;
    line-height: 1;
}


ul, ol {
    margin-bottom: 24px;
}
dl, ul, ol {
    list-style-position: outside;
    padding: 0;
}
ul {
    list-style-type: disc;
}
p, address, pre, hr, ul, ol, dl, dd, table {
    margin-bottom: 24px;
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 1rem;
}
ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
li.post-date.ss {
    color: #000;
    line-height: 16px;
}
.recent-posts-entry .post-date, .tweets-feed-entry .tweet-date {
    font-style: normal;
}
.dlab-post-meta ul li {
    padding: 0;
    display: inline-block;
  
    font-size: 14px;
}
.recent-posts-entry ul, .category-entry ul {
    margin: 0;
    list-style: none;
    padding: 0;
  }
  .dlab-post-meta ul {
    margin: 0;
  }
.ul li, ol li {
    padding: 0;
}
li {
    display: list-item;
    text-align: -webkit-match-parent;
}
ul{
  padding: 0;
}
.recent-posts-entry ul, .category-entry ul {
    margin: 0;
    list-style: none;
    padding: 0;
    line-height: 1;
}


a{
  transition: all 0.8s linear;
}
a{
  outline: 0 none;
    text-decoration: none;
}
a{
  background-color: transparent;
}
*, ::after, ::before {
    box-sizing: border-box;
}
a:-webkit-any-link {
   
    cursor: pointer;
   
}
.widget .post-title {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: unset;
    font-size: 20px;
    line-height: 25px;
    text-align: justify;
}

.h4, .h5, .h6, h4, h5, h6 {
    font-weight: 600;
}
h6 {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 10px;
}
h6 {
    color: #000000;
    font-family: 'Roboto', serif;
}
h6 {
    font-size: 1rem;
}
h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h6 {
    margin-top: 0;
    /* margin-bottom: 0.5rem; */
}
h6 {
    display: block;
    font-size: 0.67em;
    margin-block-start: 2.33em;
    margin-block-end: 2.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
body{
  padding: 0;
    margin: 0;
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
}
recent-posts-entry .widget-post {
    margin-bottom: 25px;
    align-items: center;
    display: flex;
    overflow: hidden;
}
.h6{
  font-weight: 600;
}
h6
 {
  margin-bottom: 10px;
  }
 h6{
  margin-bottom: 0.5rem;
 }
 h6 {
    
    font-family: 'Roboto', serif;
}
.dlab-post-meta {
    margin-bottom: 15px;
}
.recent-posts-entry ul, .category-entry ul {
    margin: 0;
    list-style: none;
    padding: 0;
    line-height: 1;
}
.dlab-post-meta ul {
  text-transform: none;
}
ul, ol {
    margin-bottom: 24px;
}
ul {
    display: block;
   
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.clearfix:after {
    clear: both;
}
.clearfix:after, .clearfix:before {
    content: "";
    display: table;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.recent-posts-entry .dlab-post-info, .recent-posts-entry .dlab-post-media {
    display: table-cell;
    vertical-align: middle;
    width: 130px;
    height: 127px;
}
.recent-posts-entry .dlab-post-info {
    background: transparent;
    padding: 0;
    padding-left: 15px;
    border: none;
}